* {
  margin: 0;
}

*,
* ::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
  background-size: cover;
}

.one {
  background-image: linear-gradient(
       rgb(0, 0, 0, 0.87),
       rgb(0, 0, 0, 0.479),
       rgb(0, 0, 0, 0.87)
       ),
    url('NG-en-20221114-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

hr {
  height: 8px;
  background-color: #222;
  border: none;
}

.pri {
  background-color: #e50914;
  color: white;
  border: none;
  display: flex;
  padding: 7px 17px;
  border-radius: 3px;
  font-size: 1rem;
}

header a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

header a {
  padding: 20px;
}

header img {
  height: 90px;
  width: 180px;
}

.iii h1{
  font-size: 50px;
  text-align: center;
}

.iii h3 {
  font-size: 26px;
  text-align: center;
  padding-top: 15px;
  font-weight: normal;
}

.iii div {
  display: inline;
  justify-content: center;
  align-items: center;
}

.iii h4,
.ask h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.iii form,
.ask form {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-left: 340px;
  padding-right: 340px;
}

.iii form input,
.ask form input {
  padding: 10px;

}

.pie {
  font-size: 16px;
  background-color: #e50914;
  border: none;
  color: #fff;
}

.sia {
  height: 60px;
  display: flex;
  border: 1px solid #8c8c8c;
  width: 500px;
  padding: 10px 10px 0;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 2px;
  background-color: white;
  text-align: left;
  color: #8c8c8c;
  align-items: center;

}
#email:valid {
  box-shadow: none;
}
#email:invalid {
  box-shadow: #ffa00a;
}

h4 {
  font-size: 20px;
  font-weight: normal;
}

.ia {
  height: 60px;
  display: block;
  border: 1px solid #8c8c8c;
  background-color: #8c8c8c;
  width: 100%;
  padding: 10px 10px 0;
}

.iii {
  display: block;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

footer {
  color: rgb(94, 94, 94);
  display: block;
  justify-content: space-between;
  align-items: flex-start;
}

.page-end {
  padding: 30px 180px;
}

.pager1 {
  padding: 0px  48px;
  padding-top: 20px;
}
.pager {
  font-size: 14px;
  padding: 0px 48px;
}

li {
  padding: 8px;
  font-size: 14px;
  list-style-type: none;
}

.flash {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding-top: 18px;
  padding-bottom: 24px;
}

/*
details summary {
  list-style: none;
}
form {
  max-width: 500px;
}

summary {
  display: flex;
  justify-content: space-between;
  gap: 550;
}
*/

.boring {
  padding: 50px 120px;
}

.boring h2 {
  font-size: 50px;
  padding-bottom: 10px;
}

.boring p {
  font-size: 30px;
}

.kids {
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding: 70px 5px;
  justify-content: center;
  align-items: center;
}

.kids h2 {
  font-size: 50px;
  margin: 8px;
}

.kids h4 {
  font-size: 26px;
  font-weight: normal;
  margin: 15px 0px 5px;
  max-width: 500px;
}

#kids {
  align-items: center;
  padding-left: 30px;
}

.live-show {
  display: flex;
  padding: 30px 10px;
  align-items: center;
}

.live-notes {
  padding: 70px 100px;
}

.live-notes h2 {
  font-size: 50px;
  margin: 8px;
}

.live-notes h3 {
  font-size: 26px;
  font-weight: normal;
  margin: 15px 0px 5px;
  max-width: 500px;
}

.tv1 {
  position: relative;
  z-index: 5;
}

.tv2 {
  position: absolute;
  max-width: 73%;
  max-height: 54%;
  transform: translate(16.8%, -142%);
}

.strange-tab {
  border: 2px solid hsla(0,0%,100%,.25);
  border-radius: 0.75em;
  padding: 10px ;
  width: 25%;
  position: absolute;
  display: flex;
  background-color: #000;
  transform: translateX(-50%);
  left: 23.7%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 218%;
  box-shadow: 0 0 2em 0 #000;
}

.sttab {
  display: flex;
  padding: 0.25rem 0.65rem;
  align-items: center;
}

.sttab div {
  padding-left: 20px;
  text-align: left;
}

.tabi {
  font-weight: bold;
}

#tabii {
  color: #0071EB;
}

.stranger {
  display: flex;
  align-items: center;
}

.stranger h2 {
  font-size: 50px;
  margin: 8px;
}

.stranger h4 {
  font-size: 26px;
  font-weight: normal;
  margin: 15px 0px 5px;
  max-width: 500px;
}

.div {
  padding: 20px 70px;
}

.faq h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 35px;
}

.faq {
  padding: 50px;
}

.ia {
  height: auto;
  padding-bottom: 10px;
  background-color: #303030;
  border: none;
  font-size: 26px;
  margin: 10px;
}

.ia span {
  font-size: 26px;
}

.ia p {
  padding-top: 10px;
  margin: 10px;
}

summary {
  display: inline;
  margin: 10px;
}

.faq-div {
  padding: 0px 190px;
}